<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <connectionStrings>
    <add name="default" connectionString="" />
  </connectionStrings>
  <appSettings>
    <add key="label-environment" value="local_DEV" />
    <add key="label-version" value="1.0.0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <nlog throwExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDir" value="c:/logs/restservice" />
    <targets async="true">
      <!--target name="keyValueFile" type="File" fileName="${logDir}/localKV.log" layout="${key-value}" /-->
      <target name="file" type="File" fileName="${logDir}/local.log" layout="${longdate}|${pad:padding=3:fixedLength=true:${threadId}}|${pad:padding=5:fixedLength=true:${uppercase:${level}}}|${logger}|${message}${exception:format=tostring}" />
      <target name="infoFile" type="File" fileName="${logDir}/info.log" layout="${longdate}|${pad:padding=3:fixedLength=true:${threadId}}|${pad:padding=5:fixedLength=true:${uppercase:${level}}}|${logger}|${message}${exception:format=tostring}" />
      <target name="errorFile" type="File" fileName="${logDir}/error.log" layout="${longdate}|${pad:padding=3:fixedLength=true:${threadId}}|${pad:padding=5:fixedLength=true:${uppercase:${level}}}|${logger}|${message}${exception:format=tostring}" />
      <target name="console" type="ColoredConsole" layout="${longdate}|${pad:padding=3:fixedLength=true:${threadId}}|${pad:padding=5:fixedLength=true:${uppercase:${level}}}|${logger}|${message}${exception:format=tostring}" />
    </targets>
    <rules>
      <!-- system logger -->
      <logger name="*" writeTo="file" />
      <!--logger name="*" writeTo="keyValuefile" /-->
      <logger name="*" minLevel="Info" writeTo="infoFile" />
      <logger name="*" minLevel="Error" writeTo="errorFile" />
      <!-- console logger - only in debug / local build -->
      <logger name="*" minLevel="Debug" writeTo="console" />
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.7.0.0" newVersion="4.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>